<form [ngFormModel]="confirmpassword" (ngSubmit)="onsubmit()">
    <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input type="password" id="oldpassword" class="form-control" ngControl="oldpassword" #oldpassword="ngForm">
        <div class="alert alert-danger" *ngIf="oldpassword.touched && oldpassword.errors">
            <div *ngIf="oldpassword.errors.required">It is madatory</div>
            <div *ngIf="oldpassword.errors.invalidlength">Minimum is 3</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">New Password</label>
        <input type="password" id="newpassword" ngControl="newpassword" #newpassword="ngForm" class="form-control">
        <div class="alert alert-danger" *ngIf="newpassword.touched && newpassword.errors">
            <div *ngIf="newpassword.errors.required">It is madatory</div>
            <div *ngIf="newpassword.errors.invalidlength">Minimum is 3</div>
            <!--<div *ngIf="confirmpassword.errors && confirmpassword.errors.invalidmatch">old and new passwords are same</div>-->
        </div>
    </div>
    <div class="form-group">
        <label for="newconfirmpassword">Confirm Password</label>
        <input type="password" id="newconfirmpassword" ngControl="newconfirmpassword" #newconfirmpassword="ngForm" class="form-control">
        <!--<div class="alert alert-danger" *ngIf="newconfirmpassword.touched && newconfirmpassword.errors">
            <div *ngIf="newconfirmpassword.errors.required">It is madatory</div>
            <div *ngIf="confirmpassword.errors && confirmpassword.errors.notconfirmed">Password Mismatch</div>
        </div>-->
         <div>
            <div class="alert alert-danger" *ngIf="newconfirmpassword.touched && !newconfirmpassword.valid">It is madatory</div>
            <div class="alert alert-danger" *ngIf="newconfirmpassword.touched && confirmpassword.errors && confirmpassword.errors.notconfirmed">Password Mismatch</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!confirmpassword.valid">Submit</button>
</form>